.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__divider {
    margin-top: 3%;
    background-color: #2c4058;
  }
  &__title {
    color: #2c4058;
    font-family: Gotham;
    font-size: 44px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 5%;
  }
  &__trade {
    display: flex;
    width: 100vw;

    .trade__pictures {
      display: flex;
      width: 50%;
      margin-bottom: 7%;

      .trade__pictures-back {
        left: 0;
        top: 0;
      }
      .trade__pictures-front {
        z-index: 15;
        position: relative;
        left: -55%;
        top: 15%;
      }
    }
    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: #2c4058;
      line-height: 24px;
      margin: 0 auto;
      width: 50vw;

      &__subtitle {
        font-family: "Gotham - Book";
        font-size: 22px;
        font-weight: 400;
      }
      &__title {
        font-family: "gothambold1";
        font-weight: 700;
        font-size: 44px;
        text-transform: uppercase;
        margin-top: 5%;
      }
      &__text {
        width: 460px;
        height: 78px;
        color: #4b5562;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin: 10% 0 5% 0;
      }
      &__button {
        text-transform: uppercase;
        font-family: "Gotham - Book";
        border: 1px solid #4b5562;
        width: 190px;
        height: 45px;
        background-color: transparent;
        text-align: center;
        font-size: 14px;
        line-height: 45px;
        font-weight: 400;
      }
      &__address {
        margin-top: 5%;
      }
    }
  }
  &__commerce {
    display: flex;

    width: 100vw;

    .commerce__pictures {
      display: flex;
      width: 50%;
      margin-bottom: 7%;
      margin-top: 3%;
      position: relative;
      .commerce__pictures-back {
        position: absolute;
        right: 0;
        top: 10px;
      }
      .commerce__pictures-front {
        z-index: 15;
        position: relative;
        right: 20%;
        top: 15%;
      }
    }
    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: #2c4058;
      line-height: 24px;
      margin: 10px 0 0 10%;

      &__subtitle {
        font-family: "Gotham - Book";
        font-size: 22px;
        font-weight: 400;
      }
      &__title {
        font-family: "gothambold1";
        font-weight: 700;
        font-size: 44px;
        text-transform: uppercase;
        margin-top: 5%;
      }
      &__text {
        width: 460px;
        height: 78px;
        color: #4b5562;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin: 10% 0 5% 0;
      }
      &__button {
        text-transform: uppercase;
        font-family: "Gotham - Book";
        border: 1px solid #4b5562;
        width: 190px;
        height: 45px;
        background-color: transparent;
        text-align: center;
        font-size: 14px;
        line-height: 45px;
        font-weight: 400;
      }
      &__address {
        margin-top: 5%;
      }
    }
  }
}
